.app{
  background-color: #E8F3FE;
  height: 120vh;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  /* align-items: center; */
  /* margin: 0 auto ; */
}
.box{
 margin-top: 70px;
 border-radius: 10px;

}
.input{
  text-align: center;
  /* margin: 0 auto; */
  /* display: inline-block; */
  /* width: 100%; */
}
.textfield{
  width: 70%;
  padding: 50px;
}