.card1{
    width: 100%;
    border: 1px solid rgb(168, 166, 166);
    /* height: 50px; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}
p{
    color: #003979;
}
#button{
    color: rgb(255, 255, 255);
    background-color: red;
    margin:0 10px;
}
.buttongroup{
    margin: 5px;
    display: flex;
}
.text{
    width: 100%;
}